.container {
  padding: 0 2rem;
  color: #316760;
  background-color: #ffedd1;
  background-color: #FFF9F0;
}

.main {
  min-height: 100vh;
  margin-top: -3rem;
  padding: 0 0 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.25rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-style: italic;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  width: 40%;
}

.aboutBtn, .searchBtn {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.75rem;
  border-radius: 13px;
  border: 1px solid #316760;
  outline: none;
  box-shadow: none;
  font-size: 1.125rem;
  /* background-color: #316760; */
  background-color: transparent;
  color: #316760;
  transition: all 0.15s;
  cursor: pointer;
}

.searchBtn img {
  margin-left: 0 !important;
  margin-right: 0.8rem !important;
  min-width: 1.25rem !important;
  max-width: 1.25rem !important;
  min-height: 1.25rem !important;
  max-height: 1.25rem !important;
}

.searchBtn {
  padding-left: 1.4rem;
  background-color: #316760;
  color: #FFF9F0;
}

.aboutBtn:hover {
  background-color: #316760;
  color: #FFF9F0;
}

.searchBtn:hover {
  opacity: 0.9;
}

.buttons button:focus {
  box-shadow: none;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 1.75rem;
  font-size: 2.5rem;
  white-space: pre-wrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #316760;
  /* color: transparent;
  text-shadow: 0 0 1px 0 #000; */
  font-family: Waffle Soft;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
  }

  .aboutBtn, .searchBtn {
    margin-bottom: 1rem;
  }
}
